* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}
main .top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: blue;
  padding: 0.5rem 1.3rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}
main .top-nav a {
  color: white;
  -webkit-text-decoration: white;
          text-decoration: white;
}
main nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.3rem;
  position: relative;
}
main .left-nav, main .right-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
main .left-nav {
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .left-nav i {
  font-size: 8vw;/* hehehheheheh*/
  padding-right: 1rem;
}
main .left-nav .lap {
  display: none;
}
main .left-nav .Mobile {
  width: 6vw;
}
main .right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .right-nav #EXPLORE  {
  display: none;
}

main .right-nav #COMPANIES {
  display: none;
}

main nav .right-nav h4 {
  display: none;
}

main .right-nav i {
  font-size: 1.2rem;
}
main .right-nav .box {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url("https://avatars.githubusercontent.com/u/199656591?v=4");
  background-position: center;
  background-size: cover;
}
main .right-nav .arrow summary {
  list-style: none;
  transition: all ease-in-out 0.2s;
}
/* arrow */
main .right-nav .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  position: absolute;
  right: 1rem;
  top: 4.5rem;
  width: 100%;
  background-color: whitesmoke;
}
main .right-nav .menu i {
  font-size: 1.2rem;
}
main .right-nav .menu li {
  width: 95%;
  font-size: 1.2rem;
  border-top: 1px solid rgba(68, 68, 68, 0.6235294118);
  display: flex;
  justify-content: start;
  margin-left: 3.5rem;
  padding: 3.5vw;
  gap: 10px;
  transition: all ease-in-out 0.5s;
}
main .right-nav .menu li:nth-child(4) {
  border-bottom: 1px solid rgba(68, 68, 68, 0.6235294118);
  color: red;
}
main .right-nav .arrow summary:active {
  transform: rotate(360deg);
}

/* hero-section */

main #hero {
  display: flex;
  gap: 7vw;
  flex-direction: column;
  padding: 1rem 1.3rem;
  padding-top: 12vw;
  position: relative;
}

main #hero header {
  font-size: 2.1vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  z-index: 99;
}

main #hero .hero-p {
  font-size: 3.7vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(8, 8, 155, 0.616);
  font-weight: 100;
  padding-top: 1rem;
}

main #hero .hero-bottom {
  font-size: 5.5vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  opacity: 0.5;
}


/* only for mobile nav-bar */
@media (min-width: 1000px) {
  main .top-nav h3 {
    font-size: 1.5vw;
    font-family: system-ui;
    font-weight: 600;
  }

  main nav .left-nav i {
    display: none; /* hide menu icon on desktop */
  }

  main nav .left-nav .Mobile {
    display: none; /* hide mobile logo */
  }

  main nav .left-nav .lap {
    display: block; /* show desktop logo */
    width: 18vw;
  }

  main nav .right-nav #EXPLORE {
    display: flex;
    font-size: 0.8rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
  }

  main nav .right-nav #EXPLORE summary,
  main nav .right-nav #COMPANIES ul
   {
    display: flex;
    gap: 10px;
    list-style: none;
  }

  main nav .right-nav #COMPANIES summary {
    list-style: none;
  }

  main nav .right-nav #EXPLORE summary i:active,
  main nav .right-nav #COMPANIES summary i:active
   {
    transform: rotate(260deg);
  }

   main nav .right-nav #COMPANIES {
    display: flex;
    font-size: 0.8rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    gap: 20px;
    position: relative;
  }

  main nav .right-nav #COMPANIES  .hind{
    display: flex;
    color: black;
    position: absolute;
    flex-direction: column;
    top: 1.5rem;
    left: -2rem;
    padding: 1.1rem;
    gap: 20px;
    width: 12.4rem;
    background-color: white;
    border:2px solid rgb(228, 224, 224);
    box-shadow: 0px 0px 50px whitesmoke;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
   main nav .right-nav #COMPANIES  .hind #items{
    border-bottom: 2px solid rgb(199, 171, 171);
    padding-bottom: 1rem;
   }


  main nav .right-nav h4  {
  display: flex;
}

main nav .right-nav .bell,
main nav .right-nav .boxe {
  font-size: 1.4rem;
}
main nav .right-nav h4 {
  font-size: 1.7vw;
  display: flex;
  gap: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

main nav .right-nav h4 span {
  background-color: blue;
  width: 80px;
  border-radius: 10px;
}

}

/* on;y for hero-btn-section */
@media (min-width:600px) {

  main #hero {
    gap: 10px;
  }

  main #hero header h1 {
    font-size: 1.3rem;
  }

  main #hero .hero-p {
    font-size: 1rem;
  }

  main #hero .hero-bottom {
    font-size: 1.4rem;
  }
}
