* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    padding: 20px;
}


body {
    background-color: goldenrod;
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease 0s;
    box-shadow: 2px 2x 10x darkred;
}