* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: goldenrod;
}

.card {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    overflow-x: auto;
    position: relative;

}

.card::-webkit-scrollbar {
    display: none;
}

.sotyea {
    border-bottom: 2px solid whitesmoke;
    height: 80px;
    width: 100%;
    padding: 10px;
    white-space: nowrap;

}

.sotry {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid rgb(255, 20, 20);
    display: inline-block;
    overflow: hidden;

}

.sotry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.full-screen {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background-position: center;
    background-size: cover;
}