* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    background-color: goldenrod;
}

.card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    padding: 30px;
    position: relative;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-90deg);
    color: rgba(255, 255, 255, 0.561);
    transition: all ease 0.5s;
    opacity: 0;
    color: red;
}


h1 {
    text-align: center;
}