* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 100%;

    .top-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background-color: blue;
        padding: 0.5rem 1.3rem;
        color: white;

        a {
            color: white;
            text-decoration: white;
        }
    }

    nav {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 1.3rem;
        position: relative;
    }
    .left-nav , .right-nav {
        display: flex;
        align-items: center;
        gap: 15px;
    }

   .left-nav {
    display:flex;
    gap: 10px;
    @include center ();
    i {
        font-size: 2.3rem;
        padding-right: 1rem;
    }
    .Mobile {
        width: 8vw;
    }
   }

   .right-nav {
    @include center();
    i {
        font-size: 1.2rem;
    }
    .box {
        width: 2.5rem; 
        height: 2.5rem;
        border-radius: 50%;
        background-image: url("https://avatars.githubusercontent.com/u/199656591?v=4");
        background-position: center;
        background-size : cover;
    }
    .arrow summary{
        list-style: none;
        transition: all ease-in-out 0.2s;

    }
    .menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style: none;
            position: absolute;
            right: 1rem;
            top: 4.5rem;
            width: 100%;
            i {
                font-size: 1.2rem;
            }
            li {
                width: 95%;
                font-size: 1.2rem;
                border-top: 1px solid #4444449f;
                display: flex;
                justify-content: start;
                margin-left: 3.5rem;
                padding: 3.5vw;
                gap: 10px;
                transition: all ease-in-out 0.5s;

            }
            li:nth-child(4){
                border-bottom: 1px solid #4444449f;
                color: red;
            }
        }

    .arrow summary:active{
        transform: rotate(360deg);
    }
    
   }
}




// for nav bar only
@media (min-width:1000px) {
    main {
        .top-nav h3 {
            font-size: 2vw;
            font-family: system-ui;
            font-weight: 600;
        }
        nav {
            .left-nav{

            i {
                display: none;
            }
            .lap {
                display: none;
            }
            .mobile {
                display: none;
            }
            }
        }
    }
}

// end