* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
}
main {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.elem {
    background-color: rgba(207, 205, 205, 0.389);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 20px;

}

button{
    padding: 10px 20px;
    background-color: brown;
    border: none;
    cursor: pointer;
    transition: all ease 0.2s;
    border-radius: 10px;
}
button:active {
    scale: 0.95;
}
