* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    background-color: goldenrod;
}

.card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    overflow-x: auto;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all ease-in 0.2s;
    cursor: pointer;
    z-index: 999;
}

button:active{
    scale: 0.95;
}